@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('./ClashDisplay-Bold.woff2') format('woff2'),
    url('./ClashDisplay-Bold.woff') format('woff'),
    url('./ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
